.content {
    display: grid;
    grid-template-columns: repeat(4, 282px);
    grid-template-rows: repeat(3, 262px);
    padding: 20px;
}

.video{
    display: grid;

}

.thumbnail {
    width: 168px;
    height: 94px;
    object-fit: cover;
    border-radius: 4px;
    flex-shrink: 0;
    text-align: center;
}

.video-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}

.video-info h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    color: #030303;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.video-info p {
    margin: 0;
    font-size: 12px;
    line-height: 1.3;
    color: #606060;
}

.video-info p:first-of-type {
    font-weight: 500;
    color: #515151;
}