.sidebar {
    display: grid;
    grid-template-rows: repeat(10, 48px);
    width: 100%;
    height: 100%;
    background-color: #ffb74d; /* laranja para a sidebar */
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
    padding-top: 8px;
}

.bar {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    padding: 0 16px;
    gap: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

h4 {
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}