@import url('reset.css');
@import url('header.css');
@import url('main.css');
@import url('sidebar.css');

body {
    display: grid;
    grid-template-rows: 56px 1fr;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 100vh;
    /*background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;*/
}